easy-challenge/src/__pycache__/
Resumen de Progreso y Aprendizajes en Easy.docx
Resumen de Progreso y Aprendizajes en Easy.odt
Tests.ipynb
backend/start_challenge_generator.bat
kubernetes commands
Pendientes - Fase I.txt
.gitignore
Pendientes - Fase II.txt
Screenshot from 2025-03-26 15-19-31.png
venv/
requirements.in
backend/
src/__pycache__/
fork/
docker-compose.yml
initdb/init_script.sql
manifests/
data/